body {
    background-color: #a7acd3;
    margin: 100px 150px;
}
h1 {
    text-align: center;
    text-shadow: 10px;
    color: #f5f256;
    margin: 200px 320px;
    padding-top: 10px;
    text-decoration: wavy;
    font-family: cursive;
    font-size: 130px;
}
div {
    padding-top: 10px;
    text-align: center;
    margin: 0px;
    height: 600px;
    width: 400px;
    background-color: #b595c4;
    border-radius: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-left: 400px;
    border: 8px solid rgb(92, 4, 92);

}
.chap{
    display: block;
    text-align: center;
    text-decoration: none;
    font-size: 30px;
    border: 5px solid #000000;
    padding: 20px;
}
A:hover{
    font-size: 50px;
}
B:hover{
    font-size: 50px;
}
C:hover{
    font-size: 50px;
}
D:hover{
    font-size: 50px;
}
E:hover{
    font-size: 50px;
}
button:hover{
    font-size: 50px;
}
p::first-letter{
    color:blueviolet;
    font-size: 30px;
}
p {
    font-family: 'Karla', sans-serif;
    color: black;
    font-size: 20px;

}